GOOGLE_API_KEY=<YOUR_API_KEY_HERE>

## MOVIMENTI DI NAO
#
# La definizione personale della libreria dei movimenti di NAO 
# va inserita nel file
# web-api/utils/movements.json

#DEFAULT SYSTEM PROMPT AI
DEFAULT_PROMPT_AI=ai_prompts.example_system

WEB_API_URL=https://YOUR_SERVER_URL:PORT/chat